<html>
  <head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Legend of Selma: Wrath of the Buttermelon</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
  </head>
  <body>
    <div class="navbar"><a href="/index">Home</a> <a href="/login">Create Character</a> <a href="/adventure">Go Adventuring</a></div>
    <hr>
    {% block content %}{% endblock %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block footer %}{% endblock %}
  </body>
</html>