<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
  <h1>Start</h1>
  <div class="charform">
  <form action="" method="post" name="login">
    <div class="character_form">
      {{ form.hidden_tag() }}
      <p>
          What is your name?<br>
          {{ form.name(size=80) }}<br>
      </p>

      <p>
        What is your race?<br>
        {% for subfield in form.race %}
        <tr>
          <td>{{ subfield }}</td>
          <td>{{ subfield.label }}</td>
        </tr>
        {% endfor %}
      </p>

      <p>
        What is your class?<br>
        {% for subfield in form.clss %}
        <tr>
          <td>{{ subfield }}</td>
          <td>{{ subfield.label }}</td>
        </tr>
        {% endfor %}
      </p>
       
      <p><input type="submit" value="OK!"></p>
    </div>
  </form>
  </div>
{% endblock %}